### Class 2: String Formatting and Definitions in Python with Static Typing

In [2]:
name:str = "Python"

print(f"Hello, {name}")

Hello, Python

In [3]:
number:int = 55

print(f"The number is: {number}")

The number is: 55

## string data type in python

In [4]:
#boundaries
# "string" ,'string' ,'''string''',"""String"""

name:str = "Bilal"
print(name)

Bilal

In [7]:
message:str = "GIAIC Student Card \nName's Bilal"
print(message)

GIAIC Student Card
Name's Bilal

In [8]:
message:str = 'GIAIC "Student" Card \nName Bilal'
print(message)

GIAIC "Student" Card
Name Bilal

In [9]:
# convert any special character into simple character, place \ before character
message:str ="GIAIC \"Student\" Card \nName\'s Bilal"
print(message)

GIAIC "Student" Card
Name's Bilal

In [ ]:
"a" + "b"
# concate krta hy agr dono string  hy

'ab'

In [ ]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Bilal'
fname : str = "Muhammad Ali"
education : str = "Master in Data Science"
age : int = 20

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

### "\\" line continue

In [11]:
print(7 +\
     8 +\
     9)

24

In [ ]:

# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30

card: str = "GIAIC Student Card\nStudent Name: " + name + \
    "\nAge: " + str(age) + "\n" + \
    "Education: " + education

print(card)

### Define multiline string """ """, ''' '''

In [12]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = """
GIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

GIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

###  F-string pthon

In [13]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = f"""
GIAIC Student Card
Student Name : {name}
Father's Name: {fname} 
Age: {age}
Education : {education}
"""

print(card)

GIAIC Student Card
Student Name : Bilal
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
name: str = 'Bilal' 
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = f'''
GIAIC Student Card
Student Name : {name}
Father's Name: {fname} 
Age: {age}
Education : {education}
'''

print(card)

GIAIC Student Card
Student Name : Bilal
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

### F-string and Jinja style

In [16]:
f"""
student name {name}
"""

'\nstudent name Bilal\n'

In [17]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [ ]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = f"""
GIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s
""" % (name,fname,age,education)

print(card)

In [ ]:
pi = 3.14159

print("The value of pi is %f" % pi)
print("The value of pi is %.2f" % pi)

In [25]:

[i for i in dir(str)  if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"It\'s value a = {} and value b = {}".format(a,b)

"It's value a = 7 and value b = 8"

In [31]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = """
GIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(name,fname,education,age)

print(card)

GIAIC Student Card
Student Name : Bilal
Father's Name: Muhammad Aslam
Age: Master in Data Science
Education : 30

In [34]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = """
GIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {2}
Education : {3}
""".format(fname,name,age,education)
#            0    1    2      3 
print(card)

GIAIC Student Card
Student Name : Bilal
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [35]:
name: str = 'Bilal'  # Updated name
fname: str = "Muhammad Aslam"
education: str = "Master in Data Science"
age: int = 30



card : str = """
GIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name,b=fname,d=education,c=age)

print(card)

GIAIC Student Card
Student Name : Bilal
Father's Name: Muhammad Aslam
Age: 30
Education : Master in Data Science

In [ ]:
def generate_card(name, fname, age, education):
    card = f"""
    -------------------------------
    GIAIC Student Card
    Student Name : {name}
    Father's Name: {fname}
    Age: {age}
    Education : {education}
    -------------------------------
    """
    return card

students = int(input("How many students? "))

with open("student_cards.txt", "w") as file:
    for i in range(students):
        name = input("Enter Student Name: ")
        fname = input("Enter Father's Name: ")
        age = input("Enter Age: ")
        education = input("Enter Education: ")

        card = generate_card(name, fname, age, education)
        print(card)
        file.write(card + "\n")
    
    print("All student cards saved successfully!")

In [44]:
std_code:str = f"""
print("My name is Bilal")
a = 6
b = 77
print(a + b)
"""

exec(std_code)

My name is Bilal
83

In [ ]:

a:list[str] = [i for i in dir(str)  if "__" not in i]
for item in a:
    print(item)
print(len(a))

In [7]:
name:str = "bilal hussain"
print(name.capitalize())

Bilal hussain

In [8]:
name:str = "bilal hussain"
print(name.title())

Bilal Hussain

In [9]:
name:str = "BILAL hussain"
print(name.lower())

bilal hussain

In [11]:
name:str = "            BILAL hussain          "
print(name.lstrip().title())

Bilal Hussain

In [12]:
name:str = "            BILAL hussain          "
print(name.rstrip().title())

            Bilal Hussain

In [13]:
name:str = "            BILAL hussain          "
print(name.strip().title())

Bilal Hussain

In [ ]:
name:str = "            BILAL hussain          "
print(name.rstrip().title())

In [24]:
name:str = 'bilal'
last_name:str = ' hussain'
full_name:str = name + last_name

print(full_name)

bilal hussain

In [26]:
name:str = 'bilal'
last_name:str = 'hussain'
print(f"My name is {name.title()} {last_name.title()}")

My name is Bilal Hussain

In [14]:
import re   # regular expression

In [17]:
name : str = "               bilal       hussain         "

display(name)

name1:str = re.sub(' {2,100}',' ',name)
display(name1)

'               bilal       hussain         '

' bilal hussain '

In [22]:
name : str = "               bilal       hussain         "

display(name)

name1:str = re.sub(' {2,100}',' ',name).strip()
display(name1)

'               bilal       hussain         '

'bilal hussain'

In [21]:
name = "          Bilal       Hussain         "

'''
#! 🛠 Explanation
split(): Yeh string ko spaces ke basis par tod deta hai, aur extra spaces automatically remove ho jati hain.
" ".join(...): Yeh words ko single space ke sath dobara jod deta hai.
'''


# Remove extra spaces
name1 = " ".join(name.split())

print("Before:", repr(name))
print("After:", repr(name1))

Before: '          Bilal       Hussain         '
After: 'Bilal Hussain'

In [34]:
'''
\t --> tab spaces
\n --> new line
\b --> backspace remove
'''

name : str = "bILAL"
print("Name:\n\t\n\t\t\t\b\b",name.title())

Name:

	 Bilal

In [39]:
nostrach_url: str = 'http://facebook.com/'

# Use removeprefix() and removesuffix() to clean URL
removePrefix = nostrach_url.removeprefix('http://')
removeSuffix = nostrach_url.removesuffix('/')

print(f"URL after removing prefix: {removePrefix}")
print(f"URL after removing suffix: {removeSuffix}")

URL after removing prefix: facebook.com/
URL after removing suffix: http://facebook.com

In [38]:
nostrach_url: str = 'http://facebook.com/'

# Remove both prefix and suffix
clean_url = nostrach_url.removeprefix('http://').removesuffix('/')

print(f"Clean URL: {clean_url}")

Clean URL: facebook.com